[submodule "VulkanSceneGraph"]
	path = VulkanSceneGraph
	url = https://github.com/kannode/VulkanSceneGraph.git
[submodule "vsgExamples"]
	path = vsgExamples
	url = https://github.com/kannode/vsgExamples.git
[submodule "vsgImGui"]
	path = vsgImGui
	url = https://github.com/kannode/vsgImGui.git
